@model BookLibrary.Infrastructure.Commands.Book.CreateBook

@{
    ViewData["Title"] = "Add book";
}

<div class="text-center">
    <h1 class="display-4">New book</h1>

    <div class="card-body rounded border bg-light">
        <form class="text-left" asp-action="CreateBook" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                @Html.TextBoxFor(model => model.Title, new
           {
               @type = "text",
               @class = "form-control",
               @id = "title",
               @placeholder = "Enter title"
           })
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="author">Author</label>
                @Html.TextBoxFor(model => model.Author, new
           {
               @type = "text",
               @class = "form-control",
               @id = "author",
               @placeholder = "Enter author"
           })
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="releaseDate">Release date</label>
                @Html.TextBoxFor(model => model.ReleaseDate, new
           {
               @type = "date",
               @class = "form-control",
               @id = "releaseDate",
           })
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                @Html.TextAreaFor(model => model.Description, new
           {
               @class = "form-control",
               @id = "description",
           })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>