@model BookLibrary.Infrastructure.Commands.User.LogInUser

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <div class="card-body rounded border mt-4 bg-light">

        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="display-3">Welcome, @User.Identity.Name</h1>
            <h5>It's nice to see you</h5>
        }
        else
        {
            <form class="text-left" asp-action="Login" method="post">
                <div class="form-group">
                    <label for="login">Login</label>
                    @Html.TextBoxFor(model => model.Login, new
               {
                   @type = "text",
                   @class = "form-control",
                   @id = "login",
                   @placeholder = "Enter Login"
               })
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="login">Password</label>
                    @Html.TextBoxFor(model => model.Password, new
               {
                   @type = "password",
                   @class = "form-control",
                   @id = "password",
                   @placeholder = "Password"
               })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        }
    </div>
</div>